
.title-large {
  font-size: 240px;
  font-weight: bold;
}

.description-small {
  font-size: 16px;
}

#services {
  padding: 60px 0;
  background-color: #960000;
}

#servicesj {
  padding: 60px 0;
  background-color: #d8d8d8;
 
}


.box {
  padding: 20px;
  background-color: #af0000;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

.box:not(:last-child) {
  margin-right: 20px;
}
.description {
  font-size: 16px;
  color: #888;
  margin-top: 10px;
}

#servicesj .descriptionj {
  font-size: 16px;
  color: #b31616;
  margin-top: 10px;
  text-align: left !important;
}

  
#featured-services {
  background: #e7dede;
}

#featured-services .box {
  padding: 30px 20px;
}

#featured-services .box-bg {
  background-image: linear-gradient(
    0deg,
    #000000 0%,
    #242323 50%,
    #000000 100%
  );
}

#featured-services i {
  color: f1a737;
  font-size: 48px;
  display: inline-block;
  line-height: 1;
}

#featured-services h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 18px;
}

#featured-services h4 a {
  color: #fff;
}

#featured-services h4 a:hover {
  color: #18d26e;
}

#featured-services p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}

#call-to-action {
  background: rgb(114, 146, 251);
  background: linear-gradient(
      357deg,
      rgba(114, 146, 251, 0.21332282913165268) 0%,
      rgba(14, 88, 226, 0.5942752100840336) 46%,
      rgba(0, 80, 175, 1) 100%
    ),
    url(./img/call-to-action-bg.jpg) fixed center center;
  background-size: cover;
  padding: 60px 0;
}

#call-to-action h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: #fff;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 9px;
  transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#call-to-action .cta-btn:hover {
  background-color: #18d26e;
  border-color: #18d26e;
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

#skills {
  padding: 60px 0;
}

#skills .progress {
  height: 35px;
  margin-bottom: 10px;
}

#skills .progress .skill {
  font-family: "Open Sans", sans-serif;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}

#skills .progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

#skills .progress-bar {
  width: 1px;
  text-align: left;
  transition: 0.9s;
}

#about {
  background: url(./img/about-bg.jpg) center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 40px 0;
  position: relative;
  border-radius: 20px !important;
}

#about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(233, 233, 233, 0.938);
  z-index: 9;
}

#about .container {
  position: relative;
  z-index: 10;
}

#about .about-col {
  background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 12px rgba(129, 129, 129, 0.904);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

#about .about-col:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

#about .about-col .img {
  position: relative;
  overflow: hidden;
  height: 300px;
}

#about .about-col .img img {
  border-radius: 4px 4px 0 0;
  transition: transform 0.3s;
 
}

#about .about-col:hover .img img {
  transform: scale(1.1);
}

#about .about-col .icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: sticky;
  background-color: #18d26e;
  border: 4px solid #fff;
  left: calc(50% - 32px);
  transition: 0.3s;
  transform: translateY(0);
  align-items: center;
}

#about .about-col:hover .icon {
  background-color: #fff;
  transform: translateY(-8px);
}


   
#about .about-col i {
  
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 30px;
  color: #fff;
  transition: 0.3s;
}

#about .about-col:hover i {
  
  color: #18d26e;
}

#about .about-col h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding: 0;
  margin: 5px 0 5px 0;
  transition: color 0.3s;
}

#about .about-col:hover h2 {
  color: #18d26e;
}

#about .about-col p {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 0;
  padding: 0 20px 15px 20px;
}

/* Common styles for jeyam both desktop and mobile */

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  flex: 1;
  padding: 20px; /* Add padding for better readability */
}

.text-content h1,
.text-content h6,
.text-content p,
.text-content{
  margin: 0;
  padding: 0;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
}

.image-content {
  flex: 1;
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
  transition: transform 0.7s, box-shadow 0.7s;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .text-content {
    margin-bottom: 20px;
    text-align: center;/* Add margin to separate from the image */
  }

  .image-content img {
    max-height: 300px;
    align-items: center;
  }
}

.text-content h6 p {
  flex: 1;
  text-align: justify !important;
  padding-right: 20px;
}

.image-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  black;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-content:hover img {
  transform: scale(1.05);
  background: fixed;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.image-content:hover::before {
  opacity: 1;
}

.image-content img:hover {
  transform: scale(1.05);
}

.image-content img:focus {
  outline: none;
}

#services {
  padding: 60px 0;
  background-color: #f7f7f7;
}

.section-header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-header hr {
  width: 50px;
  height: 3px;
  background-color: #001633;
  margin: 0 auto 20px;
}

/*salanagi color */
.section-header p {
  font-size: 18px;
  font-weight: bolder;
  color: #000052ef;
  text-align: left!important; 
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.box {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 10px 20px;
  text-align: center;
  transition: transform 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 35px;
  padding-top: 10px;
}

.title a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.title a:hover {
  background: linear-gradient(
    90deg,
    rgb(0, 63, 163) 0%,
    hsla(186, 100%, 23%, 1) 100%
  );
  background-clip: text;

  color: transparent;
}

.description {
  font-size: 16px;
  color: #888;
  margin-top: 10px;
}

#facts {
  background: url(./img/facts-bg.jpg) center top no-repeat fixed;
  background-size: cover;
  padding: 60px 0 0 0;
  position: relative;
}



#facts::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.88);
  z-index: 9;
}

#facts .container {
  position: relative;
  z-index: 10;
}

#facts .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #18d26e;
}



#facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #00000070 !important;
  
}

#facts .facts-img {
  text-align: center;
  padding-top: 30px;
}
 /* image slider*/
.Iyconnect{
  margin-top: 130px;
  margin-left: 50px;
  
  text-align: center;
}
 

  
 


