@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");
.body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


a {
  color: #01b1d7;
  text-decoration: none;
}
#main {
  margin-top: 130px;
}
a:hover {
  color: #0dd3fe;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.page-head3 {
  text-align: center;
  padding: 230px 0px 150px 0px;
  color: #fff;
  margin-top: 120px;
  position: relative; /* Needed for z-index */
}

#bg-video3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Behind other content */
}

.page-head3 h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
    color: #ffffff !important;
}

.page-head3 span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;


}
.about {
  margin-top:0px;
}
.about h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-secondary);
  margin: 30px 0;
}

@media (min-width: 991px) {
  .about h2 {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.about .our-story {
  padding: 40px;
  background-color: #f5f6f7;
}

@media (min-width: 991px) {
  .about .our-story {
    padding-right: 35%;
  }
}

.about .our-story h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #838893;
}

.about .our-story h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
}
.about .our-story h4 {
  text-align: justify;
}
.about .our-story p {
  text-align: justify;
  color: rgb(110, 110, 110);
}

.about .our-story p:last-child {
  margin-bottom: 0;
}

.about ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.about ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.about ul i {
  font-size: 20px;
  margin-right: 4px;
  color: black;
}

.about .about-img {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("../image/main.jpg");
}

@media (min-width: 992px) {
  .about .about-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 768px) {
  .custom-border {
    border: none !important;
  }
}
.img-fluid {
  margin-left: 20px; /* Adjust the value as needed */
}