.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.imagerow{
    top: 150;
}

.page-head2 {
    text-align: center;
    padding: 230px 0px 150px 0px;
    color: #fff;
    margin-top: 120px;
    position: relative; /* Needed for z-index */
}

#bg-video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Behind other content */
}


.page-head2 h1 {
	text-transform: capitalize;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: 18px;
    color: #ffffff !important;
}

.page-head2 span {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	display: block;


}

@media (max-width: 991.98px) {
    .bg-hero {
        background-size: cover;
    }
}

.bg-quote {
   
    background-size: contain;
}

@media (max-width: 991.98px) {
    .bg-quote {
        background-size: cover;
    }
}

.section{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin-top: 0;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1{
    top:30px;
    display: inline-block;
    width:520px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    border: 6px solid #bdbbbb;
    position:relative ;
    margin-right: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    margin-bottom: 50px;
}

.card1-img{
    width: 100%;
    height: 700px;
    object-fit: cover ;
    border-radius: 15px;
}

.card1-body{
    width:100%;
    height: 100%;
    top:0;
    right: -100%;
    position: absolute;
    background: #1f3d4762;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color:#fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    
    transition: 2s;
}
.card1-body ul{
    margin-top: 10px;
    margin-left: 40px;
}

.card1:hover .card1-body{
    right: 0;
}
.card1-title{
    text-transform:uppercase ;
    font-size: 30px;
    font-weight: 500;
}
.card1-sub-title{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
}
.card1.info{
   font-size: 16px; 
   line-height: 25px;
   margin: 40px 0 30px 0;
   font-weight: 300;
   
}


.card1-btn1{
    color:#ffffff;
    border-color:2px solid #fff;
    width: 180px;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform:capitalize ;
    background:none;
    outline: none;
    font-weight:500 ;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 160px;
}
.card1-btn1:hover{
    background: #0982c4;
    color: #fff;
}

  @media (max-width: 768px) {
    .card1 {
      width: 475px; /* Set card1 width to 100% for mobile */
      margin-right: 0; /* Remove right margin for mobile */
      margin-top: 20px;
      margin-left: 20px;
      align-items: center;
      height: 720px;
     
    }
    .body{
        flex-direction: column;
    }
    .card1-img{
        height: 720px;
    }
  }